@import '../../sassVariables.scss';

.base {
    width: 175px;
    height: 57px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: $lightTextColor;
    transform: scale(1);
    transition-property: transform, background-color;
    transition-duration: $tr-duration;
    transition-timing-function: $tr-timing-function;
    background-color: $primaryColor;

    &:hover,
    &:focus {
        background-color: $primaryColorHover;
        transform: scale(1.01);
    }
}

.lightBlue {
    @extend .base;
    border: 1px solid #fff;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #0284D0;
        border-color: #0284D0;
        background-color: #F4F4F4;
    }
}

.lightGreen {
    @extend .base;
    border: 1px solid #fff;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $primaryColor;
        border-color: $primaryColor;
        background-color: #F4F4F4;
    }
}
