@import '../../sassVariables.scss';

.footer {
    background-color: $textColor;
    color: $lightTextColor;
    padding: 20px 0;
}

.links {
    width: 216px;
    margin: 0 auto 12px auto;
}

.text {
    text-align: center;
    margin: 0;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}